body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Neutral background */
    background-image: url('C:\Users\owuor\OneDrive\Desktop\ALX\Final Project-ALX\Public\web1.avif'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box; /* Consistent sizing */
  }
  
  @media only screen and (max-width: 768px) {
    /* Media query for smaller screens */
    body {
      font-size: 14px; /* Adjust base font size for smaller screens */
    }
  }
  
  .container {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #fff; /* Lighter background for better text contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    @media only screen and (max-width: 768px) {
      /* More padding and smaller margins for smaller screens */
      padding: 20px;
      margin: 10px;
    }
  }
  
  h1 {
    color: #333;
  }
  
  input[type="file"], input[type="text"], button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="file"]:focus, input[type="text"]:focus {
    border-color: #4CAF50; /* Highlight on focus */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41; /* Slightly darker hover shade */
}
button:active {
    background-color: #387b39; /* Subtle active state indicator */
  }
  
  #memeContainer img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    @media only screen and (max-width: 768px) {
      /* Adjust image size for smaller screens (optional) */
      max-width: 80%;
    }
  }
  
  /* Add styling for invalid form fields (optional) */
  input:invalid {
    border-color: #f00; /* Red border for invalid input */
  }
  
  /* Placeholder text styling (optional) */
  input::-webkit-input-placeholder { /* For Chrome, Safari, etc. */
    color: #999;
  }
  
  input:-moz-placeholder { /* For Firefox */
    color: #999;
  }
  